adf/pipeline/pl_sfo_landing_to_bronze.json
{
	"name": "pl_sfo_landing_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "Set Execution ID",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_id",
					"value": {
						"value": "@concat(pipeline().Pipeline, '_', utcNow('yyyyMMddHHmmss'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run Databricks Notebook",
				"description": "Run Landing to Bronze Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Execution ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/sfo-analytics/02_landing_to_bronze",
					"baseParameters": {
						"validation_mode": {
							"value": "@pipeline().parameters.validation_mode",
							"type": "Expression"
						},
						"dataset_filter": {
							"value": "@pipeline().parameters.dataset_filter",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_sfo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Databricks Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineExecution]",
					"storedProcedureParameters": {
						"details": {
							"value": {
								"value": "@string(activity('Run Databricks Notebook').output.runOutput)",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_time": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"execution_id": {
							"value": {
								"value": "@variables('execution_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"start_time": {
							"value": {
								"value": "@variables('pipeline_start_time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "SUCCESS",
							"type": "String"
						},
						"total_rows": {
							"value": {
								"value": "@activity('Run Databricks Notebook').output.runOutput.total_rows",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_logging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Databricks Notebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineExecution]",
					"storedProcedureParameters": {
						"details": {
							"value": null,
							"type": "String"
						},
						"end_time": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"error_message": {
							"value": {
								"value": "@activity('Run Databricks Notebook').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"execution_id": {
							"value": {
								"value": "@variables('execution_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"start_time": {
							"value": {
								"value": "@variables('pipeline_start_time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "FAILED",
							"type": "String"
						},
						"total_rows": {
							"value": "0",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_logging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"validation_mode": {
				"type": "string",
				"defaultValue": "strict"
			},
			"dataset_filter": {
				"type": "string",
				"defaultValue": "all"
			}
		},
		"variables": {
			"execution_id": {
				"type": "String"
			},
			"pipeline_start_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}