sfo-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sfo-adf"
		},
		"sfo_linked_service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'sfo_linked_service'"
		},
		"ls_sql_logging_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_logging'"
		},
		"ls_databricks_sfo_analytics_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_sfo_analytics'"
		},
		"sfo_linked_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sfostorageadl.dfs.core.windows.net/"
		},
		"ls_sql_logging_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sfo-log-sql-server.database.windows.net"
		},
		"ls_sql_logging_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sfo-pipeline-logs"
		},
		"ls_sql_logging_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sfo-admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sfo_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('sfo_linked_service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('sfo_linked_service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_logging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_logging_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_logging_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_logging_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_logging_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_sfo_analytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Databricks workspace for SFO data processing",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1439494984013692.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_sfo_analytics_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "0",
					"newClusterSparkConf": {
						"spark.master": "local[*, 4]",
						"spark.databricks.cluster.profile": "singleNode"
					},
					"newClusterVersion": "16.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_sfo_data_to_landing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set Execution ID",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "execution_id",
							"value": {
								"value": "@concat(pipeline().Pipeline, '_', utcNow('yyyyMMddHHmmss'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Pipeline Start Time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Execution ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipeline_start_time",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Run Databricks Notebook",
						"description": "Run incremental loading Databricks notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set Pipeline Start Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/sfo-analytics/01_incremental_loading.ipynb",
							"baseParameters": {
								"start_date": {
									"value": "@pipeline().parameters.start_date",
									"type": "Expression"
								},
								"dataset_filter": {
									"value": "@pipeline().parameters.dataset_filter",
									"type": "Expression"
								},
								"load_type": {
									"value": "@pipeline().parameters.load_type",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_sfo_analytics",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Databricks Notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogPipelineExecution]",
							"storedProcedureParameters": {
								"details": {
									"value": "@string(activity('Run Databricks Notebook').output.runOutput)",
									"type": "String"
								},
								"end_time": {
									"value": "@utcNow()",
									"type": "DateTime"
								},
								"execution_id": {
									"value": "@variables('execution_id')",
									"type": "String"
								},
								"pipeline_name": {
									"value": "@pipeline().Pipeline",
									"type": "String"
								},
								"start_time": {
									"value": "@variables('pipeline_start_time')",
									"type": "DateTime"
								},
								"status": {
									"value": "SUCCESS",
									"type": "String"
								},
								"total_rows": {
									"value": "@activity('Run Databricks Notebook').output.runOutput.total_rows",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_logging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Databricks Notebook",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogPipelineExecution]",
							"storedProcedureParameters": {
								"details": {
									"value": null,
									"type": "String"
								},
								"end_time": {
									"value": "@utcNow()",
									"type": "DateTime"
								},
								"error_message": {
									"value": "@activity('Run Databricks Notebook').error.message",
									"type": "String"
								},
								"execution_id": {
									"value": "@variables('execution_id')",
									"type": "String"
								},
								"pipeline_name": {
									"value": "@pipeline().Pipeline",
									"type": "String"
								},
								"start_time": {
									"value": "@variables('pipeline_start_time')",
									"type": "DateTime"
								},
								"status": {
									"value": "FAILED",
									"type": "String"
								},
								"total_rows": {
									"value": "0",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_logging",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"start_date": {
						"type": "string",
						"defaultValue": "202001"
					},
					"dataset_filter": {
						"type": "string",
						"defaultValue": "all"
					},
					"load_type": {
						"type": "string",
						"defaultValue": "incremental"
					}
				},
				"variables": {
					"execution_id": {
						"type": "String"
					},
					"pipeline_start_time": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_sfo_analytics')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_logging')]"
			]
		}
	]
}